
<div class="animation"></div>
<header class="heading">
     ART <i class="fad logo-left app-logo fa-paint-brush-alt"></i> ARENA 
    <!-- <i class="fad logo-right fa-paint-brush-alt"></i> -->
    
  </header>
<br>
  <div class="roomsHeading">
    <h3>Challenge your friends to an epic battle of art.</h3>
    <p className="app-intro">
      Each user is presented with the same random image that they all must
      draw. Once completed all the images will go head-to-head with one
      champion emerging.
    </p>
    

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    <h3><b>Select Your Arena</b></h3>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Arena</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Pick an arena to play in, or stay and chat in the lobby.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Arena #1 : Cartoon Colosseum</button>
          <button type="button" class="btn btn-primary">Arena #2 : Snapshot Stadium</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Lobby</button>
        </div>
      </div>
    </div>
  </div>


    
    <div id="rooms"></div>
  </div>
<br>
  <div class="chat">
      <span id="conversation">
        <input id="data" placeholder="Type your message here." />
        <input type="button" class="btn btn-primary" id="datasend" value="Send a Message" />
      </span> 
  </div>
<br>
  <div id="paint-app">
    <div class="imgRef">
        <!-- <div class="spinner-border text-warning" role="status">
            <span class="sr-only">Loading...</span>
            
          </div> -->
          

        <img class="placeholder-image"
          id="mainImage"
          src="https://media.giphy.com/media/MEF1VadKbQBdmd8LCn/giphy.gif"
          alt="Random"
        >
        </img> 
        <h2 class="waiting">Waiting for friends to join... </h2>
      </div>
    </div>
  <br>
  <div class="submitButton">
   <input type="button" class="btn btn-primary" id="drawing-complete" value="Submit" />
  <div>
    <img />
  </div>

<!-- <div class="chat">
<span id="conversation">
  <input id="data" />
  <input type="button" class="btn btn-primary" id="datasend" value="send" />
</span> -->

<div class="paintings">

    <div class="card">
      <img id="spot1" src="" />
      <div class="card-body">
        <h5 class="card-title">Vote 4 Me!</h5>
        <input class="btn btn-primary" type="button" id="vote1" value="Vote" />
      </div>
    </div>

    <div class="card">
        <img id="spot2" src="" />
      <div class="card-body">
        <h5 class="card-title">Vote 4 Me!</h5>
        <input class="btn btn-primary" type="button" id="vote2" value="Vote" />
      </div>
    </div>

    <div class="card">
        <img id="spot3" src="" />
      <div class="card-body">
        <h5 class="card-title">Vote 4 Me!</h5>
        <input class="btn btn-primary" type="button" id="vote3" value="Vote" />
      </div>
    </div>

    <div class="card">
        <img id="spot4" src="" />
      <div class="card-body">
        <h5 class="card-title">Vote 4 Me!</h5>
        <input class="btn btn-primary" type="button" id="vote4" value="Vote" />
      </div>
    </div>
      
</div>



<div  aria-atomic="true" style="position: relative; min-height: 200px;">
    <div style="position: absolute; top: 0; right: 0;">
  
      </div>
</div>