



<header class="header">
    HEADER
    <div class="animation">TEST</div>
  </header>

  <div class="roomsHeading">
    <h3>Challenge your friends to an epic battle of art.</h3>
    <p className="App-intro">
      Each user is presented with the same random image that they all must
      draw. Once completed all the images will go head-to-head with one
      champion emerging.
    </p>
    <b>ROOMS</b>
    <div id="rooms"></div>
  </div>

  <div id="paint-app">
    <div class="imgRef">

     
        <img
          id="mainImage"
          src="https://picsum.photos/500/300"
          alt="Random"
        >
        </img>
      </div>
    </div>
  </div>
  <input type="button" class="btn btn-primary" id="drawing-complete" value="Submit" />
  <div>
    <img />
  </div>

<!-- <div class="chat">
<span id="conversation">
  <input id="data" />
  <input type="button" class="btn btn-primary" id="datasend" value="send" />
</span> -->

<div class="paintings">

    <div class="card">
      <img id="spot1" src="" />
      <div class="card-body">
        <h5 class="card-title">Vote 4 Me!</h5>
        <input class="btn btn-primary" type="button" id="vote1" value="Vote" />
      </div>
    </div>

    <div class="card">
        <img id="spot2" src="" />
      <div class="card-body">
        <h5 class="card-title">Vote 4 Me!</h5>
        <input class="btn btn-primary" type="button" id="vote2" value="Vote" />
      </div>
    </div>

    <div class="card">
        <img id="spot3" src="" />
      <div class="card-body">
        <h5 class="card-title">Vote 4 Me!</h5>
        <input class="btn btn-primary" type="button" id="vote3" value="Vote" />
      </div>
    </div>

    <div class="card">
        <img id="spot4" src="" />
      <div class="card-body">
        <h5 class="card-title">Vote 4 Me!</h5>
        <input class="btn btn-primary" type="button" id="vote4" value="Vote" />
      </div>
    </div>
      
</div>

<div class="chat">
    <span id="conversation">
      <input id="data" />
      <input type="button" class="btn btn-primary" id="datasend" value="send" />
    </span> 
</div>

<div  aria-atomic="true" style="position: relative; min-height: 200px;">
    <div style="position: absolute; top: 0; right: 0;">
  
