



<header class="header">
    HEADER
    <div class="animation">TEST</div>
  </header>

  <div class="roomsHeading">
    <h3>Challenge your friends to an epic battle of art.</h3>
    <p className="App-intro">
      Each user is presented with the same random image that they all must
      draw. Once completed all the images will go head-to-head with one
      champion emerging.
    </p>
    <b>ROOMS</b>
    <div id="rooms"></div>
  </div>

  <div id="paint-app">
    <div class="imgRef">
      <div class="ribbon"> <div class="txt">
          Draw Me
      </div></div>
     
        <img
          id="mainImage"
          src="https://picsum.photos/500/300"
          alt="Random"
        >
        </img>
      </div>
    </div>
  </div>
  <input type="button" id="drawing-complete" value="Submit" />
  <div>
    <img />
  </div>
  <div
    style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;"
  >
    <div id="conversation"></div>
    <input id="data" style="width:200px;" />
    <input type="button" id="datasend" value="send" />
  </div>

  <div>
    <div>
      <img id="spot1" src="" />
      <input type="button" id="vote1" value="Vote" />
    </div>
    <div>
      <img id="spot2" src="" />
      <input type="button" id="vote2" value="Vote" />
    </div>
    <div>
      <img id="spot3" src="" />
      <input type="button" id="vote3" value="Vote" />
    </div>
    <div>
      <img id="spot4" src="" />
      <input type="button" id="vote4" value="Vote" />
    </div>
  </div>