<!-- views/partials/footer.ejs -->
<div id="userProfile">
  <div id="firebaseui-auth-container">
    <div id="loader">Loading...</div>
  </div>
</div>
<div class="devs">
  <a id="Terrence" target="_blank" href="https://github.com/DigitalM0nkey">
    <i class="fab fa-github"></i>
    Terrence Kuiper
  </a>
  <a id="Justin" target="_blank" href="https://github.com/Justin-Lighthouse">
    <i class="fab fa-github"></i>
    Justin Stewart
  </a>
</div>
<p class="text-center text-muted">© Copyright 2019 We The Awesome</p>
