<!-- views/partials/header.ejs -->
<div class="alerts"></div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul> -->
  </div>
</nav>

<header class="heading">
  ART <i class="fad logo-left app-logo fa-paint-brush-alt"></i> ARENA
</header>

<div class="intro">
  <h3>Challenge your friends to an epic battle of art.</h3>
  <p className="app-intro">
    Each user is presented with the same random image that they all must draw.
    Once completed, all the images will go head-to-head with one champion
    emerging.
  </p>
</div>

<div id="userProfile">
  <div id="firebaseui-auth-container">
    <div id="loader">Loading...</div>
  </div>
</div>
