<!-- views/partials/header.ejs -->
<div class="alerts"></div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul> -->
  </div>
</nav>

<header class="heading">
  ART <i class="fad logo-left app-logo fa-paint-brush-alt"></i> ARENA
</header>
<br />
<div id="userProfile">
  <div id="firebaseui-auth-container">
    <div id="loader">Loading...</div>
  </div>
</div>
