<!-- views/partials/header.ejs -->
<div class="alerts"></div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul> -->
  </div>
</nav>
<!-- // oAuth  // -->

<div id="firebaseui-auth-container"></div>
<div id="loader">Loading...</div>
<button id="logout">logout</button>
