<!-- views/partials/head.ejs -->
<meta charset="UTF-8" />
<title>Art Arena</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<link rel="stylesheet" href="/styles/index.css" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

<script
  src="https://kit.fontawesome.com/c7b8382901.js"
  crossorigin="anonymous"
></script>

<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
/>
<style>
  body {
    padding-top: 50px;
  }
</style>
