<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/_head.ejs') %>
  </head>

  <body class="container">
    <header><%- include ('../partials/_header.ejs') %></header>
    <div class="authorized">
      <%- include ('../partials/_body.ejs') %>

      <main></main>
    </div>
    <footer>
      <%- include ('../partials/_footer.ejs') %>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="socket.js"></script>
    <script src="canvas.js"></script>
    <script>
      $(function() {
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            console.log("User is signed in");
            $(".authorized").show();
            $("#firebaseui-auth-container").hide();
            //$("#userPhoto").attr("src", firebase.auth().currentUser.photoURL);
            $("#userProfile").append(
              `<img
                id="userPhoto"
                src="${firebase.auth().currentUser.photoURL}"
                alt="User Photo"
              />
              <h2>Welcome ${firebase.auth().currentUser.displayName}</h2>
              <button class="btn btn-danger" id="logout">logout</button>
              `
            );
            socket.emit("adduser", firebase.auth().currentUser.displayName);
          } else {
            console.log("No user is signed in");
            $(".authorized").hide();
          }
        });
      });
    </script>

    <script>
      $("#logout").click(function() {
        firebase
          .auth()
          .signOut()
          .then(function() {
            console.log("Signed out");
          })
          .catch(function(error) {
            console.log("ERROR =>", error);
          });
      });
    </script>
  </body>
</html>
