<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/_head.ejs') %>
  </head>

  <body class="container">
    <header><%- include ('../partials/_header.ejs') %></header>
    <%- include ('../partials/_body.ejs') %>

    <main></main>

    <footer>
      <%- include ('../partials/_footer.ejs') %>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="socket.js"></script>
    <script src="canvas.js"></script>
    <!-- GOOGLE FONTS -->
    <!-- <link
      href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre:700|Delius+Unicase:400,700|Gochi+Hand&display=swap"
      rel="stylesheet"
    /> -->
  </body>
</html>
