<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/_head.ejs') %>
  </head>

  <body class="container">
    <header><%- include ('../partials/_header.ejs') %></header>
    <div class="authorized">
      <%- include ('../partials/_body.ejs') %>

      <main></main>
    </div>
    <footer>
      <%- include ('../partials/_footer.ejs') %>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="socket.js"></script>
    <script src="canvas.js"></script>
    <script>
      $(function() {
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            console.log("User is signed in");
            $(".authorized").show();
            $("#firebaseui-auth-container").hide();
            $("#userProfile").append(
              `<div id='userInfo'>
                <img
                id="userPhoto"
                src="${firebase.auth().currentUser.photoURL}"
                alt="User Photo"
              />
              <h2>Welcome ${firebase.auth().currentUser.displayName}</h2>
              <button class="btn btn-danger" id="logout">logout</button>
              </div>
              `
            );
            socket.emit("adduser", firebase.auth().currentUser.uid);
            $("#logout").click(function() {
              firebase
                .auth()
                .signOut()
                .then(function() {
                  console.log("Signed out");
                  $("#userInfo").empty();
                  $(".authorized").hide();
                  $("#firebaseui-auth-container").show();
                })
                .catch(function(error) {
                  console.log("ERROR =>", error);
                });
            });
          } else {
            console.log("No user is signed in");
            $(".authorized").hide();
          }
        });
      });
    </script>

    <script></script>
  </body>
</html>
