/* canvas */
.header {
  padding: 50px;
  background-color: cornflowerblue;
}

.canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.roomsHeading {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

#rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: chocolate;
  padding: 10px;
}

#paint-app {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: flex;
  border: 5px solid black;
}

#mainImage {
  border: 5px solid black;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#my-canvas {
  border: 5px solid black;
}

/* Stroke animation */
#select {
  border: #7c259e;
  color: #7c259e;
}

body {
  margin: 0;
  padding: 0;
  background: white;
}

.animation {
  width: 100%;
  height: 15px;
  position: absolute;
  background: linear-gradient(to left, #fd96aa, #fdc996, #fafa61 38px, #96fd96 67%, #96d3fd, #9696fd, #c996fd);
  top: 110px;
  left: 0%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.animation:before {
  content: "";
  position: absolute;
  top: -0px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #e9bd8a !important;
  -webkit-animation: line 55s linear infinite;
          animation: line 55s linear infinite;
}

.animation:after {
  content: "\f1fc";
  font-family: fontAwesome;
  position: absolute;
  top: 0;
  left: -1%;
  right: 100%;
  width: -100%;
  height: 100%;
  -webkit-animation: line 55s linear infinite;
          animation: line 55s linear infinite;
  color: #7c259e;
  font-size: 50px;
  -webkit-transform: translateY(-36px);
          transform: translateY(-36px);
  -webkit-animation-timing-function: cubic-brezier(0.75, 0.84, 0, 0.86);
          animation-timing-function: cubic-brezier(0.75, 0.84, 0, 0.86);
}

@-webkit-keyframes line {
  0% {
    left: 100;
  }
  99% {
    left: 99%;
  }
  100% {
    left: 100;
  }
}

@keyframes line {
  0% {
    left: 100;
  }
  99% {
    left: 99%;
  }
  100% {
    left: 100;
  }
}

/*  ribbon over photo */
.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 5px solid black;
}

.chat #conversation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
}

.data {
  text-align: center;
}

.paintings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.paintings .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  width: 30rem;
}

.btn {
  width: 100%;
}

.alerts {
  position: absolute;
  right: 0;
  top: 300px;
  min-height: 50px;
}
/*# sourceMappingURL=index.css.map */