@import url("https://fonts.googleapis.com/css?family=Averia+Sans+Libre:700|Delius+Unicase:400,700|Open+Sans&display=swap");

$padding: 1rem;
$margin: 1rem;
$round: 1rem;
//Type font
$font-HEADING: "Delius Unicase", cursive;
$size-HEADING: 7vw;
$font-SUB-HEADING: "Averia Sans Libre", cursive;
$size-SUB-HEADING: 2rem;
$font-BODY-TEXT: "Open Sans", sans-serif;
$size-BODY-TEXT: 1rem;

h1 {
  font-family: $font-HEADING;
  font-size: $size-HEADING;
}
h2 {
  font-family: $font-SUB-HEADING;
}
p {
  font-family: $font-BODY-TEXT;
  font-size: $size-BODY-TEXT;
}
.btn {
  font-family: $font-SUB-HEADING;
  font-size: 1.5rem;
}
main {
  padding: 10%;
}

pre {
  white-space: pre-wrap;
}

// GLOBAL END

// HEADER
.logo-right {
  transform: scaleX(-1);
}
.app-logo {
  animation: app-logo-spin infinite 30s linear;
  height: 80px;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(0deg);
  }
}
#userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding;
  border: 5px solid black;
  border-radius: $round;
  #userInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#userPhoto {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.heading {
  top: 20px;
  text-align: center;
  font-family: $font-HEADING;
  font-size: $size-HEADING;
  border: 5px solid black;
  border-radius: $round;
  padding: 50px;
  background-color: cornflowerblue;
}
/* Stroke animation */

#select {
  border: #7c259e;
  color: #7c259e;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 1);
}
// coloured line
// .animation {
//   z-index: 1;
//   width: 100%;
//   height: 15px;
//   position: absolute;
//   background: linear-gradient(
//     to left,
//     #fd96aa,
//     #fdc996,
//     #fafa61 38px,
//     #96fd96 67%,
//     #96d3fd,
//     #9696fd,
//     #c996fd
//   );
//   top: 5vh;
//   left: 0%;
//   transform: translate(0%, 0%);
//   box-shadow: unset;
//   overflow-x: hidden;
// }
// cover up line
// .animation:before {
//   content: "";
//   position: absolute;
//   top: -0px;
//   left: 0;
//   width: 100%;
//   height: 16px;
//   background-color: white !important;
//   animation: line 55s linear infinite;
// }
// .animation:after {
//   content: "\f1fc";
//   font-family: fontAwesome;
//   position: absolute;
//   top: 0;
//   left: -1%;
//   right: 100%;
//   width: -100%;
//   height: 100%;
//   animation: line 55s linear infinite;
//   color: #7c259e;
//   font-size: 50px;
//   transform: translateY(-45px);
//   animation-timing-function: cubic-brezier(0.75, 0.84, 0, 0.86);
// }

// @keyframes line {
//   0% {
//     left: 100;
//   }
//   99% {
//     left: 99%;
//   }

//   100% {
//     left: 100;
//   }
// }

span {
  font-family: $font-SUB-HEADING;
}

.app-intro {
  font-family: $font-BODY-TEXT;
  font-size: $size-BODY-TEXT;
}
#rooms {
  display: none;
  font-family: $font-SUB-HEADING;
}
// CHAT
.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 5px solid black;
  border-radius: $round;
  #conversation {
    display: flex;
    order: 1;
    flex-flow: column;
    text-align: center;
  }
}
#data {
  font-family: $font-BODY-TEXT;
  font-size: $size-SUB-HEADING;
  color: gray;
  width: initial;
  margin: $margin;
  text-align: center;
}
/* canvas */
.waitingText {
  display: flex;
}
.playingText {
  display: none;
}
.votingText {
  display: none;
}
.winningText {
  display: none;
}

.roomsHeading {
  font-family: $font-SUB-HEADING;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 5px solid black;
  border-radius: $round;
}

#rooms {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
}

#paint-app {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1rem;
  // justify-content: space-evenly;
  border: 5px solid black;
  border-radius: $round;
}

#mainImage {
  border: 5px solid black;
  border-radius: $round;
  flex-shrink: 0;
}

.drawingURL {
  margin-top: $margin;
  padding: 1rem;
  width: 65vw;
  display: none;
}
#my-canvas {
  border: 5px solid black;
  border-radius: $round;
}

#canvasDiv {
  display: flex;
  flex-shrink: 0;
  border: 5px solid black;
  padding: $padding;
  border-radius: $round;
}

.canvas {
  display: flex;
  flex-direction: column;
}

/*  ribbon over photo */

// .ribbon {
//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -ms-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   transform: rotate(-45deg);
//   border: 25px solid transparent;
//   border-top: 25px solid #757575;
//   position: absolute;
//   bottom: 20px;
//   right: -50px;
//   padding: 0 10px;
//   width: 120px;
//   color: white;
//   font-family: sans-serif;
//   size: 11px;
// }
// .ribbon .txt {
//   position: absolute;
//   top: -20px;
//   left: 20px;
// }

//Submit button
.btn {
  width: 100%;
}

#datasend {
  font-family: $font-SUB-HEADING;
  font-size: $size-BODY-TEXT;
  width: initial;
  margin: $margin;
}

.toolbar {
  width: 62vw;
  text-align-last: center;
}
.color {
  height: 4rem;
  width: 6rem;
  vertical-align: middle;
}

.download {
  margin-top: $margin;
}

.reset {
  margin-top: $margin;
}

.submitButton {
  display: none;
  padding: padding;
  margin-top: $margin;
  margin-bottom: $margin;
  border-radius: $round;
  padding: $padding;
  width: 100%;
}

#drawing-complete {
  font-size: $size-SUB-HEADING;
  font-family: $font-SUB-HEADING;
}
//Paintings

.paintings {
  display: none;
  flex-flow: wrap;
  text-align: center;
  margin-top: $margin;
  justify-content: space-evenly;
  border: 5px solid black;
  border-radius: $round;
  .card {
    display: flex;
    margin: 0.5rem;
    width: 30rem;
  }
}

.alerts {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 10%;
  min-height: 50px;
}
#th {
  font-family: $font-SUB-HEADING;
}
#tb {
  font-family: $font-BODY-TEXT;
}
.imgRef {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 1rem;
}
.placeholderimage {
  width: 62vw;
  padding: 1rem;
}
h2.waiting {
  padding: 1rem;
  margin: 1rem;
}

.vote {
  display: flex;
}

// Footer
.devs {
  display: flex;
  font-family: $font-SUB-HEADING;
  font-size: $size-BODY-TEXT;
  flex-direction: row;
  text-align: center;
  align-items: center;
  place-content: center;
  #Terrence {
    margin: $margin;
  }
  #Justin {
    margin: $margin;
  }
}
// MOBILE VIEW

#noView {
  display: none;
  width: 50vw;
}
.mobileMessage {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobileMessage {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: $padding;
    border: 5px solid black;
    margin-top: $margin;
    border-radius: $round;
    visibility: visible;
  }
  #noView {
    display: flex;
    visibility: visible;
    width: 50vw;
  }
  .authorized {
    display: none;
    visibility: hidden;
  }
  #userProfile {
    display: none;
    visibility: hidden;
  }
}

#smallScreen {
  display: none;
}

@media screen and (max-width: 780px) {
  #canvasDiv {
    display: none;
    visibility: hidden;
  }
  #smallScreen {
    display: flex;
    visibility: visible;
  }
}
