@import url("https://fonts.googleapis.com/css?family=Averia+Sans+Libre:700|Delius+Unicase:400,700|Open+Sans&display=swap");
html {
  margin: 5vh;
  padding: 2%;
  overflow-x: hidden;
}

h1 {
  font-family: "Delius Unicase", cursive;
  font-size: 7vw;
}

h2 {
  font-family: "Averia Sans Libre", cursive;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.btn {
  font-family: "Averia Sans Libre", cursive;
  font-size: 1.5rem;
}

main {
  padding: 10%;
}

pre {
  white-space: pre-wrap;
}

.logo-right {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.app-logo {
  -webkit-animation: app-logo-spin infinite 30s linear;
          animation: app-logo-spin infinite 30s linear;
  height: 80px;
}

@-webkit-keyframes app-logo-spin {
  from {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes app-logo-spin {
  from {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#userProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: 5px solid black;
  border-radius: 1rem;
}

#userProfile #userInfo {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#userPhoto {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.heading {
  top: 20px;
  text-align: center;
  font-family: "Delius Unicase", cursive;
  font-size: 7vw;
  border: 5px solid black;
  border-radius: 1rem;
  padding: 50px;
  background-color: cornflowerblue;
}

.app-intro {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

#rooms {
  display: none;
  font-family: "Averia Sans Libre", cursive;
}

/* canvas */
.waitingText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.playingText {
  display: none;
}

.votingText {
  display: none;
}

.winningText {
  display: none;
}

.drawingURL {
  margin-top: 1rem;
  display: none;
}

#my-canvas {
  border: 5px solid black;
  border-radius: 1rem;
}

#canvasDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.roomsHeading {
  font-family: "Averia Sans Libre", cursive;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  border: 5px solid black;
  border-radius: 1rem;
}

#rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 10px;
}

#paint-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: 5px solid black;
  border-radius: 1rem;
}

#mainImage {
  border: 5px solid black;
  border-radius: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

/* Stroke animation */
#select {
  border: #7c259e;
  color: #7c259e;
}

body {
  margin: 0;
  padding: 0;
  background: white;
}

.animation {
  z-index: 1;
  width: 100%;
  height: 15px;
  position: absolute;
  background: linear-gradient(to left, #fd96aa, #fdc996, #fafa61 38px, #96fd96 67%, #96d3fd, #9696fd, #c996fd);
  top: 5vh;
  left: 0%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.animation:before {
  content: "";
  position: absolute;
  top: -0px;
  left: 0;
  width: 100%;
  height: 16px;
  background-color: white !important;
  -webkit-animation: line 55s linear infinite;
          animation: line 55s linear infinite;
}

.animation:after {
  content: "\f1fc";
  font-family: fontAwesome;
  position: absolute;
  top: 0;
  left: -1%;
  right: 100%;
  width: -100%;
  height: 100%;
  -webkit-animation: line 55s linear infinite;
          animation: line 55s linear infinite;
  color: #7c259e;
  font-size: 50px;
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
  -webkit-animation-timing-function: cubic-brezier(0.75, 0.84, 0, 0.86);
          animation-timing-function: cubic-brezier(0.75, 0.84, 0, 0.86);
}

@-webkit-keyframes line {
  0% {
    left: 100;
  }
  99% {
    left: 99%;
  }
  100% {
    left: 100;
  }
}

@keyframes line {
  0% {
    left: 100;
  }
  99% {
    left: 99%;
  }
  100% {
    left: 100;
  }
}

/*  ribbon over photo */
.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 5px solid black;
  border-radius: 1rem;
}

.chat #conversation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
}

#data {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  color: gray;
  width: initial;
  margin: 1rem;
  text-align: center;
}

.btn {
  width: 100%;
}

#datasend {
  font-family: "Averia Sans Libre", cursive;
  font-size: 1rem;
  width: initial;
  margin: 1rem;
}

.submitButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: padding;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
}

#drawing-complete {
  font-size: 2rem;
  font-family: "Averia Sans Libre", cursive;
}

.paintings {
  display: none;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  text-align: center;
  margin-top: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 5px solid black;
  border-radius: 1rem;
}

.paintings .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  width: 30rem;
}

.alerts {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 10%;
  min-height: 50px;
}

#th {
  font-family: "Averia Sans Libre", cursive;
}

#tb {
  font-family: "Open Sans", sans-serif;
}

.imgRef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  padding: 1rem;
}

.placeholderimage {
  width: 100%;
  padding: 1rem;
}

h2.waiting {
  padding: 1rem;
  margin: 1rem;
}

.vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=index.css.map */