@import url("https://fonts.googleapis.com/css?family=Averia+Sans+Libre:700|Delius+Unicase:400,700|Open+Sans&display=swap");
h1 {
  font-family: "Delius Unicase", cursive;
  font-size: 7vw;
}

h2 {
  font-family: "Averia Sans Libre", cursive;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.btn {
  font-family: "Averia Sans Libre", cursive;
  font-size: 1.5rem;
}

main {
  padding: 10%;
}

pre {
  white-space: pre-wrap;
}

.logo-right {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.app-logo {
  -webkit-animation: app-logo-spin infinite 30s linear;
          animation: app-logo-spin infinite 30s linear;
  height: 80px;
}

@-webkit-keyframes app-logo-spin {
  from {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes app-logo-spin {
  from {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#userProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: 5px solid black;
  border-radius: 1rem;
}

#userProfile #userInfo {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#userPhoto {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.heading {
  top: 20px;
  text-align: center;
  font-family: "Delius Unicase", cursive;
  font-size: 7vw;
  border: 5px solid black;
  border-radius: 1rem;
  padding: 50px;
  background-color: cornflowerblue;
}

/* Stroke animation */
#select {
  border: #7c259e;
  color: #7c259e;
}

body {
  margin: 0;
  padding: 0;
  background: white;
}

span {
  font-family: "Averia Sans Libre", cursive;
}

.app-intro {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

#rooms {
  display: none;
  font-family: "Averia Sans Libre", cursive;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 5px solid black;
  border-radius: 1rem;
}

.chat #conversation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
}

#data {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  color: gray;
  width: initial;
  margin: 1rem;
  text-align: center;
}

/* canvas */
.waitingText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.playingText {
  display: none;
}

.votingText {
  display: none;
}

.winningText {
  display: none;
}

.roomsHeading {
  font-family: "Averia Sans Libre", cursive;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  border: 5px solid black;
  border-radius: 1rem;
}

#rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 10px;
}

#paint-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: 5px solid black;
  border-radius: 1rem;
}

#mainImage {
  border: 5px solid black;
  border-radius: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.drawingURL {
  margin-top: 1rem;
  padding: 1rem;
  width: 65vw;
  display: none;
}

#my-canvas {
  border: 5px solid black;
  border-radius: 1rem;
}

#canvasDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 5px solid black;
  padding: 1rem;
  border-radius: 1rem;
}

.canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*  ribbon over photo */
.btn {
  width: 100%;
}

#datasend {
  font-family: "Averia Sans Libre", cursive;
  font-size: 1rem;
  width: initial;
  margin: 1rem;
}

.toolbar {
  width: 62vw;
  text-align-last: center;
}

.color {
  height: 4rem;
  width: 6rem;
  vertical-align: middle;
}

.download {
  margin-top: 1rem;
}

.reset {
  margin-top: 1rem;
}

.submitButton {
  display: none;
  padding: padding;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
}

#drawing-complete {
  font-size: 2rem;
  font-family: "Averia Sans Libre", cursive;
}

.paintings {
  display: none;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  text-align: center;
  margin-top: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 5px solid black;
  border-radius: 1rem;
}

.paintings .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  width: 30rem;
}

.alerts {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 10%;
  min-height: 50px;
}

#th {
  font-family: "Averia Sans Libre", cursive;
}

#tb {
  font-family: "Open Sans", sans-serif;
}

.imgRef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  padding: 1rem;
}

.placeholderimage {
  width: 62vw;
  padding: 1rem;
}

h2.waiting {
  padding: 1rem;
  margin: 1rem;
}

.vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.devs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Averia Sans Libre", cursive;
  font-size: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
}

.devs #Terrence {
  margin: 1rem;
}

.devs #Justin {
  margin: 1rem;
}

#noView {
  display: none;
  width: 50vw;
}

.mobileMessage {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobileMessage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    border: 5px solid black;
    margin-top: 1rem;
    border-radius: 1rem;
    visibility: visible;
  }
  #noView {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    width: 50vw;
  }
  .authorized {
    display: none;
    visibility: hidden;
  }
  #userProfile {
    display: none;
    visibility: hidden;
  }
}

#smallScreen {
  display: none;
}

@media screen and (max-width: 780px) {
  #canvasDiv {
    display: none;
    visibility: hidden;
  }
  #smallScreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
  }
}

.toolbar {
  max-width: 800px;
}

#canvasDiv {
  max-width: 900px;
}
/*# sourceMappingURL=index.css.map */